@{
    ViewData["Title"] = "Register";
    Layout = "_Layout_Register_or_Login";
}

<div class="container">
    <main role="main" class="pb-3">
        <form>
            <fieldset>
                <legend>Register Now</legend>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                </div>
            </fieldset>

        </form>
    </main>
</div>